body{
    transition: 0.5s all ease-in-out;
    background-image: url('../imagez/bal4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',  'Arial Narrow', Arial, ;
}
@media screen and (max-width:796px){

    html{
        font-size: 15px;
    }

}
@media screen and (max-width:796px){
    html{

        font-size: 13px;
    }
}
.item:hover{

    transform:scale(1.1);
    transition:0.4s all ease-in-out;
}
.item:hover .discount{

    transform: scale(0.8);
    transition: 0.5s all ease-in-out;
}
.discount,.item{
    border-top-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}